 <!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}Review It{% endblock %}</title>
            {% block head %}
        {# <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"> #}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            {% endblock %}
        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>
    <body>
        <!-- Heading -->
        <div style="background:red; height:50px; text-align:center; font-size:27pt">Review It</div>
        <!-- Side bar -->
         <div style="background:red; width:14%; height:5859px; float:left; ">
             <div style="padding: 0px 0px 0px 13px"> <image src="{% block side-image %}{% endblock %}" height=175px width=150px"> </div>
             <div style="padding: 41px 0px 0px 3px; overflow:hidden">{% block side %}side stuff{% endblock %} </div>
         </div>
        <!-- Content -->
        <div style="width:86%; float:left; ">
            <div style="padding: 41px 0px 0px 20px; width: 100%">{% block content %}content{% endblock %}</div>
        </div>
    {% block body-end %}
    {% endblock %}
    </body>
</html>